.list li {
  color: darkslategrey;
}

.list li:hover {
  background-color: #138496;
  color: white;
}

.disabled {
  pointer-events: none; /*This makes it not clickable */

  /*This grays it out to look disabled*/
  /* opacity:0.6;   */
}

/* .disabled:hover{
  background-color: red;
} */
.success-status {
  background-color: #5cb85c;
}
