<div class="row offset-md-1">
  <div class="col-sm-12 col-md-3">
    <div class="card" *ngFor="let area of places">
      <div class="card-body">
        <h5 class="card-title">{{area.name}}</h5>
        <p class="card-text">{{area.description}}</p>
        <button (click)="viewArea(area)" class="btn btn-primary">Check</button>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-8">
    <div class="card">
      <div class="card-body">
        <div #mapContainer id="map"></div>
      </div>
    </div>
  </div>
</div>
